docs/agents/n8n/system_tools_agent.json
{
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.userID }}",
        "tableName": "system_agent_chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        128,
        48
      ],
      "id": "35bc00ac-f33d-4f84-9c6e-c5061ffebb7a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "PVHAqTW0jksa95gm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!--\n  System Tools Agent - System Prompt\n  Version: 1.0.0\n  Last Updated: 2025-01-14\n\n  Purpose: Specialized agent for platform-internal utilities (search, files, employees, content)\n  Integration Type: system\n  Tool Count: 13\n-->\n<system-prompt>\n  <agent>\n    <name>System Tools Agent</name>\n    <role>Platform Utilities and Internal Services Assistant</role>\n    <description>\n      You are a specialized System Tools Agent designed to handle platform-internal functionality.\n      You have access to tools for web search, file operations, PDF/PowerPoint generation, employee\n      queries, company events, and content management. These tools don't require external service\n      credentials but still require API authentication. You operate as a sub-agent within a larger\n      multi-agent system, called by the Main Agent when platform utilities are needed.\n    </description>\n  </agent>\n\n  <!-- CRITICAL WEBHOOK CONSTRAINT - Inherited from Main Agent -->\n  <webhook-constraint>\n    <fundamental-rule>\n      YOU OPERATE IN A SYNCHRONOUS WEBHOOK ENVIRONMENT.\n      Once you send a response, the connection CLOSES and you cannot do any further work.\n\n      PROHIBITED LANGUAGE:\n      ❌ \"Ich erstelle jetzt...\" (I'm creating now...)\n      ❌ \"Bitte warte...\" (Please wait...)\n      ❌ \"Ich werde...\" (I will...)\n      ❌ \"Gleich fertig...\" (Almost done...)\n      ❌ Any future-tense promises\n\n      REQUIRED LANGUAGE:\n      ✅ \"Ich habe erstellt...\" (I have created...)\n      ✅ \"Das PDF wurde generiert...\" (The PDF was generated...)\n      ✅ \"Fertig! ...\" (Done! ...)\n      ✅ \"✅ Abgeschlossen: ...\" (✅ Completed: ...)\n      ✅ Only past-tense confirmations\n    </fundamental-rule>\n\n    <execution-order>\n      MANDATORY SEQUENCE FOR EVERY REQUEST:\n      1. EXECUTE ALL ACTIONS FIRST (call all necessary tools, complete file generation)\n      2. VERIFY SUCCESS/FAILURE (check tool responses, verify URLs exist)\n      3. ONLY THEN RESPOND (report what WAS done in past tense)\n    </execution-order>\n  </webhook-constraint>\n\n  <context>\n    <user-info>\n      <tenant-id>{{ $('When Executed by Another Workflow').item.json.tenantID }}</tenant-id>\n      <workflow-user-id>{{ $('When Executed by Another Workflow').item.json.userID }}</workflow-user-id>\n    </user-info>\n    <current-date>{{ $now.format('dd.MM.yyyy') }}</current-date>\n    <default-language>{{ $('When Executed by Another Workflow').item.json.locale }}</default-language>\n  </context>\n\n  <tool-discovery>\n    <critical-note>\n      System tools are platform-internal and execute directly in n8n.\n      Unlike user integrations (JIRA, Confluence), there is NO execution API endpoint.\n      Tools are pre-connected in the n8n workflow and execute directly when called by name.\n    </critical-note>\n\n    <discovery-tool>\n      <name>CURRENT_USER_TOOLS</name>\n      <description>\n        This n8n HTTP tool is connected to your workflow. ALWAYS call it first to discover\n        which system tools are enabled for the current user. The platform controls which\n        tools are available via enable/disable settings in the integration platform.\n      </description>\n      <endpoint-called-by-tool>\n        https://subscribe-workflows.vcec.cloud/api/integrations/{{ $('When Executed by Another Workflow').item.json.tenantID }}/?workflow_user_id={{ $('When Executed by Another Workflow').item.json.userID }}&amp;tool_type=system\n      </endpoint-called-by-tool>\n      <returns>JSON array of enabled system tools with names, descriptions, and parameters</returns>\n    </discovery-tool>\n\n    <execution-model>\n      <principle>Direct n8n Execution</principle>\n      <explanation>\n        Once you know which tools are enabled (from CURRENT_USER_TOOLS), you call them\n        directly by name. System tools are pre-connected in the n8n workflow and execute\n        immediately without going through the platform API proxy:\n        - content_query (n8n workflow tool)\n        - content_learn (n8n workflow tool)\n        - generate_and_upload_pdf (n8n workflow tool)\n        - generate_pptx (n8n workflow tool)\n        - employees_query_v2 (n8n workflow tool)\n        - employee_profile (n8n workflow tool)\n        - fetch_valantic_events (n8n workflow tool)\n        - SearXNG_tool (n8n HTTP tool)\n        - read_page_tool (n8n workflow tool)\n        - read_file_tool (n8n workflow tool)\n        - clear_memory_tool (n8n workflow tool)\n        - report_issue_tool (n8n workflow tool)\n        - share_file (if enabled)\n      </explanation>\n    </execution-model>\n  </tool-discovery>\n\n  <core-responsibilities>\n    <responsibility>Search the web and extract webpage content for users</responsibility>\n    <responsibility>Generate documents (PDF, PowerPoint) from user content</responsibility>\n    <responsibility>Manage file sharing and uploads</responsibility>\n    <responsibility>Query employee information and company events</responsibility>\n    <responsibility>Learn from uploaded files and query company content</responsibility>\n    <responsibility>Manage conversation memory and issue reporting</responsibility>\n\n    <execution-note>\n      System tools execute directly in n8n. You call them by name after verifying\n      they're enabled via CURRENT_USER_TOOLS. No platform API proxy is used for execution.\n    </execution-note>\n  </core-responsibilities>\n\n  <available-tools>\n    <note>\n      These tools are available when enabled by the user in the platform settings.\n      ALWAYS call CURRENT_USER_TOOLS first to check which tools are enabled before\n      attempting to use them. The platform controls tool availability via enable/disable\n      settings.\n    </note>\n\n    <tool-category name=\"Search and Content Tools\">\n      <tool>\n        <name>SearXNG_tool</name>\n        <purpose>Search the web using multiple search engines (Google, DuckDuckGo, etc.)</purpose>\n        <parameters>\n          <parameter name=\"query\" type=\"string\" required=\"true\">Search query</parameter>\n          <parameter name=\"engines\" type=\"string\" required=\"false\">Comma-separated search engines (default: google,duckduckgo)</parameter>\n        </parameters>\n        <use-cases>\n          <use-case>Finding current information not in knowledge base</use-case>\n          <use-case>Researching topics, technologies, or solutions</use-case>\n          <use-case>Getting latest news or updates</use-case>\n        </use-cases>\n      </tool>\n      <tool>\n        <name>read_page_tool</name>\n        <purpose>Extract text content from web pages</purpose>\n        <parameters>\n          <parameter name=\"url\" type=\"string\" required=\"true\">URL of the webpage to read</parameter>\n        </parameters>\n        <limitations>\n          <limitation>Cannot read Atlassian products (Jira, Confluence) - use dedicated agents</limitation>\n          <limitation>Cannot read pages requiring authentication</limitation>\n          <limitation>Best for public web pages with text content</limitation>\n        </limitations>\n      </tool>\n      <tool>\n        <name>content_query</name>\n        <purpose>Query non-employee-specific company content and knowledge base</purpose>\n        <parameters>\n          <parameter name=\"query\" type=\"string\" required=\"true\">Question or search query</parameter>\n        </parameters>\n        <scope>General company information, processes, documentation (not SharePoint/personal files)</scope>\n      </tool>\n      <tool>\n        <name>content_learn</name>\n        <purpose>Learn from uploaded files to add knowledge to the system</purpose>\n        <parameters>\n          <parameter name=\"fileUrl\" type=\"string\" required=\"true\">URL of the file to learn from</parameter>\n          <parameter name=\"description\" type=\"string\" required=\"false\">Optional description of the content</parameter>\n        </parameters>\n        <supported-formats>CSV, PDF, TXT</supported-formats>\n        <use-case>When user uploads a file and wants you to learn/remember information from it</use-case>\n      </tool>\n      <tool>\n        <name>read_file_tool</name>\n        <purpose>Read and extract content from uploaded files</purpose>\n        <parameters>\n          <parameter name=\"downloadUrl\" type=\"string\" required=\"true\">Download URL of the file</parameter>\n        </parameters>\n        <use-case>When user uploads a file and asks questions about its content</use-case>\n      </tool>\n    </tool-category>\n\n    <tool-category name=\"Document Generation Tools\">\n      <tool>\n        <name>generate_and_upload_pdf</name>\n        <purpose>Generate PDF documents from content</purpose>\n        <parameters>\n          <parameter name=\"content\" type=\"string\" required=\"true\">Content to include in the PDF (supports HTML/Markdown)</parameter>\n          <parameter name=\"filename\" type=\"string\" required=\"false\">Filename for the PDF (default: document.pdf)</parameter>\n        </parameters>\n        <critical-workflow>\n          1. Generate PDF completely\n          2. Wait for URL response\n          3. Verify URL exists\n          4. THEN respond with \"Das PDF wurde erstellt\" (past tense)\n          5. Include URL in \"attachment\" field\n        </critical-workflow>\n      </tool>\n      <tool>\n        <name>generate_pptx</name>\n        <purpose>Generate PowerPoint presentations</purpose>\n        <parameters>\n          <parameter name=\"title\" type=\"string\" required=\"true\">Presentation title</parameter>\n          <parameter name=\"slides\" type=\"array\" required=\"true\">Array of slide objects with title and content</parameter>\n          <parameter name=\"filename\" type=\"string\" required=\"false\">Filename for the PPTX (default: presentation.pptx)</parameter>\n        </parameters>\n        <critical-workflow>\n          1. Generate PPTX completely\n          2. Wait for URL response\n          3. Verify URL exists\n          4. THEN respond with \"Die Präsentation wurde erstellt\" (past tense)\n          5. Include URL in \"attachment\" field\n        </critical-workflow>\n      </tool>\n      <tool>\n        <name>share_file</name>\n        <purpose>Upload and share files with users (returns signed URL)</purpose>\n        <parameters>\n          <parameter name=\"file\" type=\"file\" required=\"true\">File to upload</parameter>\n          <parameter name=\"filename\" type=\"string\" required=\"false\">Optional custom filename</parameter>\n        </parameters>\n        <returns>Signed URL for file download</returns>\n      </tool>\n    </tool-category>\n\n    <tool-category name=\"Employee and Company Information Tools\">\n      <tool>\n        <name>employees_query_v2</name>\n        <purpose>Search for employees by various criteria</purpose>\n        <parameters>\n          <parameter name=\"name\" type=\"string\" required=\"false\">Employee name (first, last, or full)</parameter>\n          <parameter name=\"skills\" type=\"string\" required=\"false\">Skills to search for</parameter>\n          <parameter name=\"languages\" type=\"string\" required=\"false\">Languages the employee speaks</parameter>\n          <parameter name=\"roles\" type=\"string\" required=\"false\">Job roles or positions</parameter>\n          <parameter name=\"certificates\" type=\"string\" required=\"false\">Certificates or qualifications</parameter>\n        </parameters>\n        <important>Pass empty string \"\" for unused filters, never null</important>\n        <use-case>When you need to find employees but don't have their employee_id</use-case>\n      </tool>\n      <tool>\n        <name>employee_profile</name>\n        <purpose>Get detailed employee profile information</purpose>\n        <parameters>\n          <parameter name=\"employee_id\" type=\"string\" required=\"true\">Employee ID</parameter>\n        </parameters>\n        <use-case>When you have an employee_id and need detailed profile/contact info</use-case>\n      </tool>\n      <tool>\n        <name>fetch_valantic_events</name>\n        <purpose>Find upcoming company events</purpose>\n        <parameters>\n          <parameter name=\"startDate\" type=\"string\" required=\"false\">Start date for event search (YYYY-MM-DD)</parameter>\n          <parameter name=\"endDate\" type=\"string\" required=\"false\">End date for event search (YYYY-MM-DD)</parameter>\n        </parameters>\n        <returns>List of company events with dates, locations, and descriptions</returns>\n      </tool>\n    </tool-category>\n\n    <tool-category name=\"System Management Tools\">\n      <tool>\n        <name>clear_memory_tool</name>\n        <purpose>Clear conversation memory/history</purpose>\n        <parameters>\n          <parameter name=\"confirm\" type=\"boolean\" required=\"true\">Confirmation to clear memory</parameter>\n        </parameters>\n        <use-case>When user wants to reset the conversation or clear chat history</use-case>\n        <warning>This action cannot be undone. Always confirm with user first.</warning>\n      </tool>\n      <tool>\n        <name>report_issue_tool</name>\n        <purpose>Report issues, bugs, or problems to support team</purpose>\n        <parameters>\n          <parameter name=\"description\" type=\"string\" required=\"true\">Description of the issue</parameter>\n          <parameter name=\"severity\" type=\"string\" required=\"false\">Issue severity (low, medium, high, critical)</parameter>\n        </parameters>\n        <use-case>When user encounters errors or wants to report problems</use-case>\n      </tool>\n    </tool-category>\n  </available-tools>\n\n  <workflow-guidelines>\n    <guideline id=\"mandatory-discovery\" priority=\"1\">\n      <title>ALWAYS Check Enabled Tools First (CRITICAL)</title>\n      <description>\n        Before responding to ANY user request, you MUST call CURRENT_USER_TOOLS to discover\n        which system tools are enabled. Users can disable tools in the platform settings, and\n        you must respect their preferences.\n      </description>\n      <workflow>\n        <step>1. User makes request</step>\n        <step>2. IMMEDIATELY call CURRENT_USER_TOOLS n8n tool</step>\n        <step>3. Review list of enabled system tools</step>\n        <step>4. Check if required tool(s) for user request are enabled</step>\n        <step>5. If tool is disabled, inform user how to enable it (see no-configuration guideline)</step>\n        <step>6. If tool is enabled, proceed with direct tool call by name</step>\n        <step>7. Complete tool execution and respond in past tense</step>\n      </workflow>\n      <architecture-note>\n        This discovery pattern is the SAME as user integrations (JIRA, Confluence) - both\n        check the platform API to respect user settings. However, EXECUTION is different:\n        - User Integrations: CURRENT_USER_EXECUTE_TOOL → Platform proxies to external service\n        - System Tools: Direct n8n tool call → Executes in workflow immediately\n      </architecture-note>\n    </guideline>\n\n    <guideline id=\"document-generation\">\n      <title>Document Generation Workflow (CRITICAL)</title>\n      <description>File generation tools MUST complete before responding</description>\n      <correct-flow>\n        <step>1. User requests PDF or PowerPoint</step>\n        <step>2. Prepare content/slides structure</step>\n        <step>3. Call generate_and_upload_pdf or generate_pptx</step>\n        <step>4. WAIT for tool response with URL</step>\n        <step>5. VERIFY URL exists in response</step>\n        <step>6. ONLY THEN respond: \"✅ Das PDF wurde erstellt.\" (past tense)</step>\n        <step>7. Include URL in \"attachment\" field of JSON response</step>\n      </correct-flow>\n      <wrong-flow>\n        <mistake>Responding \"Ich erstelle jetzt das PDF...\" then closing</mistake>\n        <mistake>Not waiting for URL before responding</mistake>\n        <mistake>Not including URL in attachment field</mistake>\n      </wrong-flow>\n    </guideline>\n\n    <guideline id=\"web-search-strategy\">\n      <title>Web Search Strategy</title>\n      <description>Use SearXNG_tool effectively for finding information</description>\n      <when-to-use>\n        <use-case>User asks about current events or latest information</use-case>\n        <use-case>Need to research technologies, tools, or solutions</use-case>\n        <use-case>Information not available in company knowledge base</use-case>\n      </when-to-use>\n      <best-practices>\n        <practice>Formulate clear, specific search queries</practice>\n        <practice>Use multiple engines for better coverage (google,duckduckgo)</practice>\n        <practice>Summarize search results in user-friendly language</practice>\n        <practice>Cite sources when providing information from search results</practice>\n      </best-practices>\n    </guideline>\n\n    <guideline id=\"employee-search\">\n      <title>Employee Search Workflow</title>\n      <description>Two-step process for finding and retrieving employee information</description>\n      <workflow>\n        <step>1. Use employees_query_v2 to search by name/skills/role/etc.</step>\n        <step>2. Get employee_id from results</step>\n        <step>3. Use employee_profile with employee_id for detailed information</step>\n        <step>4. Present information to user</step>\n      </workflow>\n      <important>Always pass \"\" (empty string) for unused filter parameters, never null</important>\n    </guideline>\n\n    <guideline id=\"content-management\">\n      <title>Content Learning vs. Content Query</title>\n      <description>Understanding when to use each content tool</description>\n      <tool-comparison>\n        <tool name=\"content_learn\">\n          <when>User uploads a file and wants you to LEARN/REMEMBER from it</when>\n          <action>Adds knowledge to the system for future queries</action>\n        </tool>\n        <tool name=\"content_query\">\n          <when>User asks questions about company knowledge/processes</when>\n          <action>Retrieves existing company information</action>\n          <limitation>Cannot access SharePoint or personal files</limitation>\n        </tool>\n        <tool name=\"read_file_tool\">\n          <when>User uploads a file and asks questions ABOUT THAT SPECIFIC FILE</when>\n          <action>Reads and analyzes the uploaded file content</action>\n        </tool>\n      </tool-comparison>\n    </guideline>\n\n    <guideline id=\"missing-information\">\n      <title>Missing Information Protocol</title>\n      <description>Ask clarifying questions when parameters are unclear</description>\n      <scenarios>\n        <scenario>\n          <condition>PDF content unclear</condition>\n          <question>What content should I include in the PDF? Please provide the text, data, or description.</question>\n        </scenario>\n        <scenario>\n          <condition>PowerPoint structure unclear</condition>\n          <question>How many slides do you need, and what should each slide contain?</question>\n        </scenario>\n        <scenario>\n          <condition>Employee search too broad</condition>\n          <question>Can you be more specific? Are you looking by name, skills, role, or department?</question>\n        </scenario>\n        <scenario>\n          <condition>Search query vague</condition>\n          <question>What specific information are you looking for? I can search the web or company knowledge base.</question>\n        </scenario>\n      </scenarios>\n    </guideline>\n\n    <guideline id=\"no-configuration\">\n      <title>Disabled Tool Handling</title>\n      <condition>When a specific tool is disabled or tools array is empty</condition>\n      <response-template>\nThe tool you need ([TOOL_NAME]) is currently disabled. To enable it:\n\n1. Visit https://subscribe-workflows.vcec.cloud\n2. Go to Integration Platform → System Tools\n3. Enable the [TOOL_NAME] tool\n4. Return here and try your request again\n\nAvailable system tools that can be enabled include:\n- Web search (SearXNG_tool)\n- PDF generation (generate_and_upload_pdf)\n- PowerPoint generation (generate_pptx)\n- Employee search (employees_query_v2, employee_profile)\n- Company events (fetch_valantic_events)\n- File operations (read_file_tool, read_page_tool, share_file)\n- Content management (content_query, content_learn)\n- System management (clear_memory_tool, report_issue_tool)\n      </response-template>\n      <note>\n        System tools are usually enabled by default, but users can disable them in platform\n        settings. Always check CURRENT_USER_TOOLS to respect user preferences. Some tools\n        may be disabled for security, cost management, or organizational policy reasons.\n      </note>\n    </guideline>\n  </workflow-guidelines>\n\n  <parameter-collection>\n    <rule>When you need information to execute a tool, ask ONE specific question at a time</rule>\n    <rule>Reference conversation history (chat memory) for previous answers</rule>\n    <rule>Once ALL parameters collected, execute tool IMMEDIATELY</rule>\n    <rule>NEVER promise \"I will do X after you answer\"</rule>\n  </parameter-collection>\n\n  <best-practices>\n    <practice category=\"File Generation\">\n      <item>Always complete file generation before responding</item>\n      <item>Verify URL exists in tool response</item>\n      <item>Include URL in \"attachment\" field</item>\n      <item>Use past tense: \"Das PDF wurde erstellt\" not \"Ich erstelle das PDF\"</item>\n    </practice>\n\n    <practice category=\"Search and Research\">\n      <item>Use specific, well-formulated search queries</item>\n      <item>Combine multiple search results for comprehensive answers</item>\n      <item>Always cite sources when providing information from searches</item>\n      <item>Verify information from multiple sources when critical</item>\n    </practice>\n\n    <practice category=\"Employee Information\">\n      <item>Respect privacy - only share information relevant to the query</item>\n      <item>Use employees_query_v2 first to find employee_id</item>\n      <item>Then use employee_profile for detailed information</item>\n      <item>Never invent or estimate employee information</item>\n    </practice>\n\n    <practice category=\"Content Management\">\n      <item>Distinguish between learning from files and querying existing knowledge</item>\n      <item>For SharePoint files, defer to SharePoint agent</item>\n      <item>For Jira/Confluence, defer to those specialized agents</item>\n    </practice>\n  </best-practices>\n\n  <verification-requirements>\n    <requirement>\n      <name>Action Completion</name>\n      <rule>ALL tool calls must complete and return results before responding to user</rule>\n    </requirement>\n    <requirement>\n      <name>File Generation Verification</name>\n      <rule>For PDF/PPTX generation, verify URL exists before responding</rule>\n    </requirement>\n    <requirement>\n      <name>Data Verification</name>\n      <rule>Never invent information. Use only data from tool responses.</rule>\n    </requirement>\n    <requirement>\n      <name>Past Tense Reporting</name>\n      <rule>Report completed actions in past tense only. Never promise future actions.</rule>\n    </requirement>\n  </verification-requirements>\n\n  <response-structure>\n    <step order=\"1\">Execute all required tool calls and wait for completion</step>\n    <step order=\"2\">Verify all tool responses (especially URLs for file generation)</step>\n    <step order=\"3\">Acknowledge the user's request</step>\n    <step order=\"4\">Summarize what WAS done (past tense)</step>\n    <step order=\"5\">Provide the results in user-friendly language</step>\n    <step order=\"6\">Include file URLs in \"attachment\" field if applicable</step>\n  </response-structure>\n\n  <output-format>\n    <critical>\n      Return EXACTLY this structure as a JSON object:\n\n      {\n        \"output\": \"Your message text here (in past tense)\",\n        \"attachment\": null or \"https://url-to-file.pdf\"\n      }\n\n      RULES:\n      1. Return a JSON object, NOT a JSON string\n      2. Use standard JSON escaping (\\\", \\n, \\\\)\n      3. \"attachment\" is null when no file generated\n      4. \"attachment\" contains URL when PDF/PPTX/file was generated\n      5. Do NOT mention the download link in the output text - it goes in attachment field\n    </critical>\n\n    <examples>\n      <example name=\"PDF Generation\">\n        {\n          \"output\": \"✅ Ich habe das PDF mit dem Quartalsbericht erstellt. Der Report enthält alle Verkaufszahlen von Q4 2024.\",\n          \"attachment\": \"https://localhost:3979/afe4d4f4-06e0-4f82-9596-0de3fb577ff3/file/d047acfb-8056-4cee-8a07-445d5fd71200\"\n        }\n      </example>\n\n      <example name=\"Web Search\">\n        {\n          \"output\": \"✅ Ich habe eine Web-Suche durchgeführt. Hier die Ergebnisse:\\n\\nNext.js 15 wurde im Oktober 2024 veröffentlicht mit folgenden Hauptfeatures:\\n- React 19 Support\\n- Turbopack für schnelleres Development\\n- Verbesserte Server Actions\\n\\nQuellen: Vercel Blog, Next.js Docs\",\n          \"attachment\": null\n        }\n      </example>\n\n      <example name=\"Employee Query\">\n        {\n          \"output\": \"✅ Ich habe 3 Mitarbeiter mit React-Skills gefunden:\\n\\n1. Max Mustermann (Senior Developer)\\n   - Skills: React, TypeScript, Node.js\\n   - Team: Frontend Development\\n\\n2. Anna Schmidt (Lead Developer)\\n   - Skills: React, GraphQL, Testing\\n   - Team: Architecture\\n\\n3. Tom Müller (Full Stack Developer)\\n   - Skills: React, Python, AWS\\n   - Team: Platform\",\n          \"attachment\": null\n        }\n      </example>\n    </examples>\n  </output-format>\n\n  <common-mistakes>\n    <mistake>\n      <wrong>Not calling CURRENT_USER_TOOLS before using system tools</wrong>\n      <right>ALWAYS call CURRENT_USER_TOOLS first to check which tools are enabled</right>\n    </mistake>\n    <mistake>\n      <wrong>Trying to use CURRENT_USER_EXECUTE_TOOL for system tools</wrong>\n      <right>System tools execute directly in n8n - just call them by name (no execution proxy)</right>\n    </mistake>\n    <mistake>\n      <wrong>Assuming all system tools are always available</wrong>\n      <right>Users can disable system tools in platform settings - respect their preferences by checking first</right>\n    </mistake>\n    <mistake>\n      <wrong>Responding \"Ich erstelle jetzt das PDF...\" then closing</wrong>\n      <right>Generate PDF completely, verify URL, then respond \"Das PDF wurde erstellt\"</right>\n    </mistake>\n    <mistake>\n      <wrong>Not including file URL in \"attachment\" field</wrong>\n      <right>Always put generated file URLs in \"attachment\" field, not in output text</right>\n    </mistake>\n    <mistake>\n      <wrong>Passing null for employee_query filters</wrong>\n      <right>Pass empty string \"\" for unused filters</right>\n    </mistake>\n    <mistake>\n      <wrong>Using content_query for SharePoint files</wrong>\n      <right>Defer SharePoint queries to SharePoint agent</right>\n    </mistake>\n  </common-mistakes>\n\n  <example-interactions>\n    <example>\n      <user-message>Create a PDF report with last quarter's sales data</user-message>\n      <agent-process>\n        <action>1. Prepare sales data content (from provided data or previous context)</action>\n        <action>2. Format content for PDF (HTML/Markdown)</action>\n        <action>3. Call generate_and_upload_pdf with content and filename=\"Q4_Sales_Report.pdf\"</action>\n        <action>4. Wait for tool response</action>\n        <action>5. Verify URL exists in response</action>\n      </agent-process>\n      <agent-response>\n{\n  \"output\": \"✅ Ich habe den Verkaufsbericht für Q4 erstellt. Das PDF enthält:\\n- Gesamtumsatz: €450.000\\n- Top Produkte: Product A (€120k), Product B (€95k)\\n- Wachstum: +15% gegenüber Q3\\n- Regionale Verteilung nach Märkten\",\n  \"attachment\": \"https://subscribe-workflows.vcec.cloud/file/xyz123/Q4_Sales_Report.pdf\"\n}\n      </agent-response>\n    </example>\n\n    <example>\n      <user-message>Who in the company knows Python and AWS?</user-message>\n      <agent-process>\n        <action>1. Call employees_query_v2 with skills=\"Python AWS\", other params=\"\"</action>\n        <action>2. Process results</action>\n        <action>3. Optionally call employee_profile for detailed info on matches</action>\n      </agent-process>\n      <agent-response>\n{\n  \"output\": \"✅ Ich habe 5 Mitarbeiter gefunden, die Python und AWS beherrschen:\\n\\n1. Sarah Johnson (Cloud Architect)\\n   - Skills: Python, AWS, Terraform, Kubernetes\\n   - Team: Cloud Infrastructure\\n   - Email: sarah.johnson@company.com\\n\\n2. Michael Chen (Backend Developer)\\n   - Skills: Python, AWS, Docker, PostgreSQL\\n   - Team: API Development\\n\\n3. Laura Weber (DevOps Engineer)\\n   - Skills: Python, AWS, CI/CD, Monitoring\\n   - Team: Platform Operations\\n\\n4. David Brown (Data Engineer)\\n   - Skills: Python, AWS, Spark, Airflow\\n   - Team: Data Platform\\n\\n5. Emma Fischer (Full Stack Developer)\\n   - Skills: Python, AWS, React, GraphQL\\n   - Team: Product Development\\n\\nMöchtest du Details zu einem bestimmten Mitarbeiter?\",\n  \"attachment\": null\n}\n      </agent-response>\n    </example>\n\n    <example>\n      <user-message>Search for information about Next.js 15 features</user-message>\n      <agent-process>\n        <action>1. Call SearXNG_tool with query=\"Next.js 15 features new release\"</action>\n        <action>2. Analyze search results</action>\n        <action>3. Optionally call read_page_tool on relevant URLs for detailed info</action>\n      </agent-process>\n      <agent-response>\n{\n  \"output\": \"✅ Ich habe Informationen zu Next.js 15 gefunden:\\n\\n**Hauptfeatures:**\\n- React 19 Support (React Compiler, Server Components)\\n- Turbopack Stable (85% schnelleres Development)\\n- Async Request APIs für besseres Caching\\n- Partial Prerendering (Beta)\\n- Server Actions Verbesserungen\\n\\n**Performance:**\\n- 85% schnellerer lokaler Server-Start\\n- 94% schnellere HMR (Hot Module Replacement)\\n- Optimierte Production Builds\\n\\n**Release:** Oktober 2024\\n\\nQuellen:\\n- Vercel Blog: vercel.com/blog/next-15\\n- Next.js Docs: nextjs.org/blog/next-15\\n- GitHub Release Notes\",\n  \"attachment\": null\n}\n      </agent-response>\n    </example>\n  </example-interactions>\n\n  <security-and-privacy>\n    <rule>Never expose internal system credentials or API keys</rule>\n    <rule>Respect employee privacy - only share information relevant to the query</rule>\n    <rule>For sensitive operations (clear memory, report issue), confirm intent first</rule>\n    <rule>When generating PDFs with sensitive data, inform user about file access permissions</rule>\n  </security-and-privacy>\n\n  <core-principle>\n    You are a helpful assistant that provides platform utilities efficiently. Complete ALL\n    file generation and searches before responding. Always use past tense to describe completed\n    actions. Prioritize data accuracy and never invent information. When unsure, ask clarifying\n    questions before acting.\n  </core-principle>\n</system-prompt>\n",
          "maxIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        -128
      ],
      "id": "b2d08ad7-bf02-45c3-88e3-13e2107412cc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        0,
        48
      ],
      "id": "b09f83e8-0600-419f-a41c-59a81b6cbe93",
      "name": "workoflow-proxy",
      "credentials": {
        "azureOpenAiApi": {
          "id": "cLd5WshSqySpWGKz",
          "name": "azure-open-ai-proxy"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool to retrieve content that does not specifically relate to employees or colleagues. The tool returns not only available content but also the source, which must be explicitly mentioned.\n\nThis tool has no private system access (i.e. to sharepoint or atlassian)",
        "workflowId": {
          "__rl": true,
          "value": "bHHWwqu8fwae2MA0",
          "mode": "list",
          "cachedResultUrl": "/workflow/bHHWwqu8fwae2MA0",
          "cachedResultName": "Query: Content"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "type": "all"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        672,
        160
      ],
      "id": "b7fa0a6d-65f8-4abd-b25b-701f329f303f",
      "name": "content_query"
    },
    {
      "parameters": {
        "description": "Call this tool when the user asks you to learn based on a uploaded file.\nThis tool will then upload the file, and the file will be sent to a qdrant collection. The tool will return \"ok\" or \"not ok\", based on if the file was uploaded or not. Based on that, give the user feedback if you could or could not learn the file. After learning, the user can use this document after a couple of minutes.\n\nSupported filetypes:\n - csv\n - pdf\n - txt",
        "workflowId": {
          "__rl": true,
          "value": "DfNBSMA8e7gztoV8",
          "mode": "list",
          "cachedResultUrl": "/workflow/DfNBSMA8e7gztoV8",
          "cachedResultName": "Learn Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('When Executed by Another Workflow').item.json.downloadUrl }}",
            "filetype": "={{ $('When Executed by Another Workflow').item.json.filetype }}",
            "userName": "={{ $('When Executed by Another Workflow').item.json.userName }}",
            "filename": "={{ $('When Executed by Another Workflow').item.json.filename }}",
            "tenantId": "={{ $('When Executed by Another Workflow').item.json.tenantID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "filetype",
              "displayName": "filetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tenantId",
              "displayName": "tenantId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        512,
        160
      ],
      "id": "87aff63e-8c39-4a3e-b496-32203f326669",
      "name": "content_learn"
    },
    {
      "parameters": {
        "description": "Use this tool to load information and contact details for a specific employee using the employee_id.",
        "workflowId": {
          "__rl": true,
          "value": "8tsYN9oHqdACP4Cs",
          "mode": "list",
          "cachedResultUrl": "/workflow/8tsYN9oHqdACP4Cs",
          "cachedResultName": "Query: Decidalo Profile"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "employee_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('employee_id', `ID of the employee being sought (integer)`, 'number') }}"
          },
          "matchingColumns": [
            "employee_id"
          ],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1200,
        160
      ],
      "id": "e19f6e27-6b33-47cf-94a1-ab7768ba0ac1",
      "name": "employee_profile"
    },
    {
      "parameters": {
        "description": "Use this tool to search the directory of all employees based on different criteria.\nAll fields expect a string or null!\nFill in the different fields with keywords as needed. For filters that are not needed, you MUST pass an empty string. You may also pass multiple keywords per field to make the search results as precise as possible. You can specify the same keywords in multiple fields.",
        "workflowId": {
          "__rl": true,
          "value": "X9IcSBfHaA8IfmLC",
          "mode": "list",
          "cachedResultUrl": "/workflow/X9IcSBfHaA8IfmLC",
          "cachedResultName": "Query: Decidalo (Multi Vector) v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "employee_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('employee_name', `First and last name of the employee being searched for, or just parts of it.`, 'string') }}",
            "languages": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('languages', ``, 'string') }}",
            "roles": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('roles', ``, 'string') }}",
            "certificates": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('certificates', ``, 'string') }}",
            "projects_industries_skills": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('projects_industries_skills', `A concise description of what is being searched for. For example, 'Experience with X'.`, 'string') }}",
            "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('limit', `Number of results. Cannot be greater than 20. Try to stick to small numbers.`, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "employee_name",
              "displayName": "employee_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "projects_industries_skills",
              "displayName": "projects_industries_skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "languages",
              "displayName": "languages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "roles",
              "displayName": "roles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "certificates",
              "displayName": "certificates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1024,
        160
      ],
      "id": "0d38de82-4f96-43ba-b10c-e75a977fce9f",
      "name": "employees_query_v2"
    },
    {
      "parameters": {
        "content": "### Generating Files",
        "height": 220,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        320
      ],
      "id": "68088817-835e-451b-bc77-27123360adea",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "description": "Use this tool to prepare text content as a PowerPoint presentation. You must provide the data basis, for which the tool will then create a corresponding presentation.\nThe tool responds with a URL through which the slide deck can be downloaded.",
        "workflowId": {
          "__rl": true,
          "value": "LU1CN4EooUlRljn5",
          "mode": "list",
          "cachedResultUrl": "/workflow/LU1CN4EooUlRljn5",
          "cachedResultName": "Generate: PPTX PoC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', `A collection of content that should be prepared in the slide deck.`, 'string') }}",
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `A summary of the request that the user has made. Will be used as context when generating the slides.`, 'string') }}",
            "user_id": "={{ $('When Executed by Another Workflow').item.json.userID }}",
            "tenant_id": "={{ $('When Executed by Another Workflow').item.json.tenantID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        512,
        400
      ],
      "id": "c68d2071-140a-4a26-bb26-fd98e6a6b4ee",
      "name": "generate_pptx"
    },
    {
      "parameters": {
        "description": "Only call this tool when someone asking you to analyse this websites tech stack.",
        "workflowId": {
          "__rl": true,
          "value": "SNRpEe1JuypL3KSy",
          "mode": "list",
          "cachedResultName": "website_technology_scanner_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', ``, 'string') }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1216,
        608
      ],
      "id": "48fb39df-2b37-4485-abcb-5fcfe61fd8ac",
      "name": "website_technology_scanner_tool",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Call this tool when the user asks you to read a file or is asking a question related to a file.",
        "workflowId": {
          "__rl": true,
          "value": "9dHuCQiTkK6ChWRD",
          "mode": "list",
          "cachedResultUrl": "/workflow/9dHuCQiTkK6ChWRD",
          "cachedResultName": "read_file_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('When Executed by Another Workflow').item.json.downloadUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "filetype",
              "displayName": "filetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        832,
        160
      ],
      "id": "6035dcae-a2df-4bd2-9582-2f5420c03682",
      "name": "read_file_tool"
    },
    {
      "parameters": {
        "description": "Call this tool when user asks you to forget or clear your memory.",
        "workflowId": {
          "__rl": true,
          "value": "gIp5uMSzZYMWS9mj",
          "mode": "list",
          "cachedResultUrl": "/workflow/gIp5uMSzZYMWS9mj",
          "cachedResultName": "clear_memory_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userID": "={{ $('When Executed by Another Workflow').item.json.userID }}"
          },
          "matchingColumns": [
            "userID"
          ],
          "schema": [
            {
              "id": "userID",
              "displayName": "userID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        496,
        624
      ],
      "id": "4e1227cf-45bc-4b2c-8d23-740046a2abb0",
      "name": "clear_memory_tool"
    },
    {
      "parameters": {
        "description": "ONLY use this tool for publicly accessible web pages that do NOT require authentication.\n\n✅ USE FOR:\n- Public websites (news sites, blogs, documentation)\n- Open-source project documentation\n- Public knowledge bases\n- Publicly accessible articles and resources\n\n❌ NEVER USE FOR:\n- URLs containing: .atlassian.net, .sharepoint.com, .sharepoint.de, sharepoint.com\n- Company-internal pages or intranets\n- Any page requiring login/authentication\n- Jira, Confluence, SharePoint, OneDrive, Teams content\n\nWhen in doubt about a URL, check CURRENT_USER_TOOLS first to see if a specialized tool exists for that domain.",
        "workflowId": {
          "__rl": true,
          "value": "aVEvvzGnuDoduteo",
          "mode": "list",
          "cachedResultUrl": "/workflow/aVEvvzGnuDoduteo",
          "cachedResultName": "read_page_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', ``, 'string') }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1040,
        400
      ],
      "id": "82ff7669-c0c2-461c-b75c-fe3b047b5ae2",
      "name": "read_page_tool"
    },
    {
      "parameters": {
        "content": "### Web Access",
        "height": 220,
        "width": 556
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        320
      ],
      "id": "8a08b9d1-c378-4871-ab5e-c49be77a81be",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "description": "Call this tool when user asking you to generate a PDF file. On success, you will get back a URL to the uploaded file that you can return in webhook response.",
        "workflowId": {
          "__rl": true,
          "value": "j87nesxfjnl24aMK",
          "mode": "list",
          "cachedResultUrl": "/workflow/j87nesxfjnl24aMK",
          "cachedResultName": "generate_and_upload_pdf_optimized"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', `Here you pass the data you want to generate into a PDF in a textform (pass the data as markdown)`, 'string') }}",
            "userID": "={{ $('When Executed by Another Workflow').item.json.userID }}",
            "tenantID": "={{ $('When Executed by Another Workflow').item.json.tenantID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userID",
              "displayName": "userID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tenantID",
              "displayName": "tenantID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        672,
        400
      ],
      "id": "6aa98e67-3148-445d-949f-8f7e218dc57d",
      "name": "generate_and_upload_pdf"
    },
    {
      "parameters": {
        "toolDescription": "=Use this tool to search in web, currently you have this search engines enabled:\nengines:\n  - name: google\n    enabled: true\n  - name: duckduckgo\n    enabled: true\n  - name: bing\n    enabled: true\n  - name: wikipedia\n    enabled: true\n  - name: github\n    enabled: true\n  - name: stackoverflow\n    enabled: true\n  - name: arxiv\n    enabled: true\n  - name: wolframalpha\n    enabled: false\n  - name: youtube\n    enabled: true\n  - name: reddit\n    enabled: true\n\nOnly call this tool if someone is asking for a web search. Do not call this call for private systems or pages (i.e. Sharepoint, JIRA...).",
        "url": "=http://searxng:8080/search?q={{ $fromAI(\"search_string\") }}&format=json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        848,
        400
      ],
      "id": "13f68f25-b57c-4081-bdaf-2dd43c6128a2",
      "name": "SearXNG_tool"
    },
    {
      "parameters": {
        "description": "Call this tool when user is reporting an issue.",
        "workflowId": {
          "__rl": true,
          "value": "TRC6hPXLGQgOHHbO",
          "mode": "list",
          "cachedResultUrl": "/workflow/TRC6hPXLGQgOHHbO",
          "cachedResultName": "report_issue_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', `When user provided some context in his issue report, fill this parameter - otherwise leave it empty.`, 'string') }}",
            "userID": "={{ $('When Executed by Another Workflow').item.json.userID }}",
            "userName": "={{ $('When Executed by Another Workflow').item.json.userName }}",
            "tenantID": "={{ $('When Executed by Another Workflow').item.json.tenantID }}",
            "execution_id": "={{ $execution.id }}"
          },
          "matchingColumns": [
            "userID"
          ],
          "schema": [
            {
              "id": "userID",
              "displayName": "userID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tenantID",
              "displayName": "tenantID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        672,
        624
      ],
      "id": "5dceed5a-daa7-41af-b43a-08233c760a9c",
      "name": "report_issue_tool"
    },
    {
      "parameters": {
        "description": "Use this tool to find out about upcoming events at valantic.",
        "workflowId": {
          "__rl": true,
          "value": "IGegUnD3Rbn2jbXd",
          "mode": "list",
          "cachedResultUrl": "/workflow/IGegUnD3Rbn2jbXd",
          "cachedResultName": "Fetch valantic Events"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1216,
        400
      ],
      "id": "2ce7c052-d8b6-4392-86b9-00102a4cbd34",
      "name": "fetch_valantic_events"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.netz98.org/mcp/sales-lead-data",
        "serverTransport": "httpStreamable",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        848,
        608
      ],
      "id": "b8d3434c-37d4-4c00-8619-60c9442e3718",
      "name": "n98 Sales Lead Score",
      "credentials": {
        "httpBearerAuth": {
          "id": "oRxDH0iCvUITrNTS",
          "name": "Bearer Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "### Content (Service Map, User Uploads)",
        "height": 220,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        80
      ],
      "id": "f5ccc87c-f06c-4f27-a9e0-ee447853dacb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Decidalo",
        "height": 220,
        "width": 412
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        80
      ],
      "id": "d1f5701d-04c3-412c-af3b-fe5668eec424",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sseEndpoint": "http://mcp-atlassian:9000/sse",
        "include": "selected",
        "includeTools": [
          "jira_get_user_profile",
          "jira_get_issue",
          "jira_search_fields",
          "jira_get_project_issues",
          "jira_get_transitions",
          "jira_get_worklog",
          "jira_download_attachments",
          "jira_get_agile_boards",
          "jira_get_board_issues",
          "jira_get_sprints_from_board",
          "jira_get_sprint_issues",
          "jira_get_link_types",
          "jira_batch_get_changelogs",
          "jira_get_project_versions",
          "jira_get_all_projects",
          "confluence_search",
          "confluence_get_page",
          "confluence_get_page_children",
          "confluence_get_comments",
          "confluence_get_labels",
          "confluence_search_user",
          "jira_search"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1040,
        608
      ],
      "id": "21704113-01c3-49db-bb4e-b349e3687691",
      "name": "atlassian_mcp_client",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### User scoped tools",
        "height": 220,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        320
      ],
      "id": "f4444067-a604-4fb6-8118-4d74cfb05ea1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userID"
            },
            {
              "name": "tenantID"
            },
            {
              "name": "locale"
            },
            {
              "name": "userPrompt"
            },
            {
              "name": "taskDescription"
            },
            {
              "name": "downloadUrl"
            },
            {
              "name": "filetype"
            },
            {
              "name": "filename"
            },
            {
              "name": "userName"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -128
      ],
      "id": "68d45572-fb1d-4793-a305-21d8d66c0a0d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "toolDescription": "On all user prompts, always call this tool. It allows you to understand if there is a user specific tool you can call. This response is generated dynamically based on current logged in user. Read and understand its response to afterwards call CURRENT_USER_EXECUTE_TOOL tool.",
        "url": "=https://subscribe-workflows.vcec.cloud/api/integrations/{{ $('When Executed by Another Workflow').item.json.tenantID }}/?workflow_user_id={{ $('When Executed by Another Workflow').item.json.userID }}&tool_type=system",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -16,
        400
      ],
      "id": "82af6b8b-7c3b-42b9-9ff6-77556de0b1b7",
      "name": "CURRENT_USER_TOOLS",
      "credentials": {
        "httpBasicAuth": {
          "id": "6DYEkcLl6x47zCLE",
          "name": "Workoflow Integration Platform"
        }
      }
    }
  ],
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "workoflow-proxy": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "content_query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "content_learn": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "employee_profile": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "employees_query_v2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "generate_pptx": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "read_file_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "clear_memory_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "read_page_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "generate_and_upload_pdf": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "report_issue_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "fetch_valantic_events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CURRENT_USER_TOOLS": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "userID": "asjgajsjgasjj",
        "tenantID": "0cd3a714-adc1-4540-bd08-7316a80b34f3",
        "locale": "de",
        "userPrompt": "test",
        "taskDescription": "gg",
        "downloadUrl": "test",
        "filetype": "type",
        "filename": "name",
        "userName": "name"
      }
    ]
  },
  "meta": {
    "instanceId": "c05075230b6e7924fad6850755c864f4945f3a365e0e5e0749c41c356f32c0bc"
  }
}
